  {
    "name": "${container_name}",
    "essential": true,
    "image": "${image}",
    "portMappings": [
      {
        "containerPort": ${container_port}
      }
    ],
    "cpu": ${cpu},
    "memory": ${mem},
    "environment": [
      ${container_env}
      {"name":"DOCKER_IMAGE", "value":"${image}"}
    ],
    "dockerLabels": ${labels},
    "mountPoints": [
      ${mountpoint_sourceVolume == "none" ? "" :
          format(
            "{ \"sourceVolume\": \"%s\", \"containerPath\": \"%s\", \"readOnly\": %s }",
            mountpoint_sourceVolume,
            mountpoint_containerPath,
            mountpoint_readOnly
          )
      }
    ]
  }
