  {
    "name": "${container_name}",
    "essential": true,
    "image": "${image}",
    "portMappings": ${port_mappings},
    "cpu": ${cpu},
    "memory": ${mem},
    "environment": ${container_env},
    "dockerLabels": ${labels},
    "mountPoints": [
      ${mountpoint_sourceVolume == "none" ? "" :
          format(
            "{ \"sourceVolume\": \"%s\", \"containerPath\": \"%s\", \"readOnly\": %s }",
            mountpoint_sourceVolume,
            mountpoint_containerPath,
            mountpoint_readOnly
          )
      }
    ],
    "ulimits": [
      {
        "name": "nofile",
        "softLimit": ${nofile_soft_ulimit},
        "hardLimit": 65535
      }
    ],
    "linuxParameters": {
      "initProcessEnabled": true
    }
  }
